@media only screen and (max-width:768px) {
    nav {
        display: flex;
        flex-direction: column;
        min-width: 10px;
    }
    .search_bar {
        display: none;
    }
    header .nav_bar {
        display: block;
    }
    .nav_mobile{
        background-color: #7fa3c2;
        height: 70vh;
        width: 70%;
        left: -600px;
        position: absolute;
        top: 54px;
        transition: all 1s ease-in-out;
       
    }
    .nav_mobile a{
        text-align: center;
    }
    .action_bar{
        min-width: 200px;
    }

    .action_bar a{
        padding-left: 5px;
    }
    .omg_image {
        width: 120px;
    }
    .shop_now {
        height: 40px;
        width: 100px;
        
    }
    .footer_menu1_heading {
        font-size: 16px;
    }
    .footer_menu1 {
        padding: 10px;
    }
    
}